html, body{
     /* Remove default browser margins */
    margin: 0;
    padding: 0;

    /* Main fonts */
    --headerFont: "Jaro";
    --bodyFont: Arial;
    --headerSize: 2rem;
    --bodySize: 1rem;
    /* Main Colors */
    --mainOrange: #dd4b1b;
    --baseBlack: #25343f;
    --darkBlack: #202e38;
    --darkestBlack: #1b262d;
    --baseWhite: #e1efef;
    --darkWhite: #c4c9c9;
    --baseRed: #d5010c;
    --baseYellow: #d58e0a;
    --baseGreen: #62d50a;

    /* Setting the height and width*/
    height: 100vh;
    width: 100vw;
}

/*Main Content Styles*/
#content{
    background-color: var(--baseWhite);
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100%;
    width: 100%;
}

/*Sidebaar styles*/
#sidebar{
  background-color: var(--baseBlack);
  display: grid; /*Subject to change*/
  grid-column: 1 / 2;
  grid-template-rows: 1fr 3fr 0.5fr;
  height: 100%;
  width: 100%;
}

#sidebar #logo{
  align-self: center;
  grid-row: 1 / 2;
  justify-self: center;
}

#projects{
  grid-row: 2 / 3;
  padding: 0 12px 0 12px;
}

#projects p{
  color: white;
  display: flex;
  flex-direction: column;
  font-family: var(--headerFont), var(--bodyFont);
  font-size: var(--headerSize);
  justify-self: center;
}

#projects .scrollable{
  background-color: var(--darkBlack);
  border-radius: 10px;
  box-sizing: border-box;
  height: 79%;
  padding: 0 8px 0 8px;
}

.projectItem{
  align-items: center;
  background-color: var(--darkestBlack);
  border-radius: 10px;
  box-sizing: border-box;
  color: white;
  display: flex;
  font-family: var(--headerFont), var(--bodyFont);
  font-size: var(--bodySize);
  height: 10%;
  margin-top: 24px;
  opacity: 0.7;
  padding: 0 4px 0 4px;
  transition: all 0.3s ease;
  width: 100%;
}

.selectedProject{
  background-color: var(--mainOrange);
}

.projectItem:hover{
  filter: brightness(0.5);
}

#sidebar .addBtn{
  align-self: center;
  grid-row: 3 / 4;
  height: auto;
  justify-self: end;
  margin-right: 8px;
  transition: all 0.3s ease;
}

#sidebar .addBtn:hover{
  filter: brightness(0.7);
  transform: scale(1.2);
}

/*Scrollable Styles and Logic*/
.scrollable{
  width: 100%;
  overflow-y: auto;
}

/* Add btn Styles*/
.addBtn{
  border: 0;
  height: auto;
  width: 60px;
}